# This is the file used to process the data for the project

In [7]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from pandas_datareader import data as pdr

In [6]:
# Download data from Yahoo Finance
tickers = ["SPY", "QQQ", "IWM"]
data = yf.download(tickers, start="2005-01-01", end="2025-10-01", auto_adjust=True)

# Display the first 10 rows of the data
data.head()

[*********************100%***********************]  3 of 3 completed

Price           Close                             High                        \
Ticker            IWM        QQQ        SPY        IWM        QQQ        SPY
Date
2005-01-03  48.436901  33.738796  81.847145  49.422161  34.413573  82.840468
2005-01-04  47.398605  33.123806  80.846985  48.569548  33.943789  82.010397
2005-01-05  46.451225  32.918808  80.289101  47.474379  33.277548  81.132744
2005-01-06  46.697544  32.756527  80.697296  47.140910  33.064020  81.064690
2005-01-07  46.178394  32.927345  80.581650  46.951445  33.200672  81.119134

Price             Low                             Open                        \
Ticker            IWM        QQQ        SPY        IWM        QQQ        SPY
Date
2005-01-03  48.179218  33.627756  81.575001  49.335005  34.242743  82.704393
2005-01-04  47.315237  32.927353  80.581646  48.531657  33.883996  81.955967
2005-01-05  46.451225  32.859018  80.282296  47.345539  33.038388  80.785759
2005-01-06  46.401964  32.747987  80.459172  46.739226  32.995690  80.581636
2005-01-07  46.151868  32.636935  80.370735  46.803656  32.935889  80.942239

Price         Volume
Ticker           IWM        QQQ       SPY
Date
2005-01-03  16062600  100970900  55748000
2005-01-04  27450000  136623200  69167600
2005-01-05  29884200  127925500  65667300
2005-01-06  23061200  102934600  47814700
2005-01-07  20906200  123104000  55847700

In [8]:
# Download VIX data from FRED
vix = pdr.DataReader("VIXCLS", "fred", start="2005-01-01", end="2025-10-01")
vix.head()

            VIXCLS
DATE
2005-01-03   14.08
2005-01-04   13.98
2005-01-05   14.09
2005-01-06   13.58
2005-01-07   13.49

In [9]:
# Make sure VIX column name is nice
vix = vix.rename(columns={"VIXCLS": "VIX"})

# Align by Date index and keep only overlapping trading days
master_df = pd.concat([data, vix], axis=1).dropna(subset=["VIX"])

master_df.head(10)

,"(Close, IWM)","(Close, QQQ)","(Close, SPY)","(High, IWM)","(High, QQQ)","(High, SPY)","(Low, IWM)","(Low, QQQ)","(Low, SPY)","(Open, IWM)","(Open, QQQ)","(Open, SPY)","(Volume, IWM)","(Volume, QQQ)","(Volume, SPY)",VIX
2005-01-03,48.436901,33.738796,81.847145,49.422161,34.413573,82.840468,48.179218,33.627756,81.575001,49.335005,34.242743,82.704393,16062600.0,100970900.0,55748000.0,14.08
2005-01-04,47.398605,33.123806,80.846985,48.569548,33.943789,82.010397,47.315237,32.927353,80.581646,48.531657,33.883996,81.955967,27450000.0,136623200.0,69167600.0,13.98
2005-01-05,46.451225,32.918808,80.289101,47.474379,33.277548,81.132744,46.451225,32.859018,80.282296,47.345539,33.038388,80.785759,29884200.0,127925500.0,65667300.0,14.09
2005-01-06,46.697544,32.756527,80.697296,47.140910,33.064020,81.064690,46.401964,32.747987,80.459172,46.739226,32.995690,80.581636,23061200.0,102934600.0,47814700.0,13.58
2005-01-07,46.178394,32.927345,80.581650,46.951445,33.200672,81.119134,46.151868,32.636935,80.370735,46.803656,32.935889,80.942239,20906200.0,123104000.0,55847700.0,13.49
2005-01-10,46.648285,32.910259,80.962692,47.065125,33.200669,81.275657,46.193551,32.790679,80.513653,46.231445,32.833386,80.513653,23449000.0,88764200.0,56563300.0,13.23
2005-01-11,46.079868,32.679649,80.404739,46.447447,32.884646,80.785738,45.947238,32.517363,80.275470,46.417130,32.773606,80.717704,23233800.0,106398800.0,63099700.0,13.19
2005-01-12,46.269325,32.952991,80.670090,46.420904,32.970072,80.853784,45.572066,32.466125,79.955711,46.148063,32.824868,80.554430,24791200.0,127754900.0,72720500.0,12.56
2005-01-13,46.129135,32.517387,80.023781,46.561134,33.183621,80.778979,45.909346,32.466137,79.942136,46.341344,32.953004,80.717744,18940600.0,101982400.0,55537500.0,12.84
2005-01-14,46.568699,32.824856,80.445587,46.648277,32.901729,80.642892,46.167017,32.619859,80.119018,46.265541,32.628402,80.261893,13541000.0,93460900.0,42032500.0,12.43

In [10]:
master_df.shape

(5246, 16)

In [11]:
master_df.columns

Index([ ('Close', 'IWM'),  ('Close', 'QQQ'),  ('Close', 'SPY'),
         ('High', 'IWM'),   ('High', 'QQQ'),   ('High', 'SPY'),
          ('Low', 'IWM'),    ('Low', 'QQQ'),    ('Low', 'SPY'),
         ('Open', 'IWM'),   ('Open', 'QQQ'),   ('Open', 'SPY'),
       ('Volume', 'IWM'), ('Volume', 'QQQ'), ('Volume', 'SPY'),
                   'VIX'],
      dtype='object')

In [12]:
print(master_df.dtypes)

(Close, IWM)     float64
(Close, QQQ)     float64
(Close, SPY)     float64
(High, IWM)      float64
(High, QQQ)      float64
(High, SPY)      float64
(Low, IWM)       float64
(Low, QQQ)       float64
(Low, SPY)       float64
(Open, IWM)      float64
(Open, QQQ)      float64
(Open, SPY)      float64
(Volume, IWM)    float64
(Volume, QQQ)    float64
(Volume, SPY)    float64
VIX              float64
dtype: object

In [13]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5246 entries, 2005-01-03 to 2025-10-01
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, IWM)   5219 non-null   float64
 1   (Close, QQQ)   5219 non-null   float64
 2   (Close, SPY)   5219 non-null   float64
 3   (High, IWM)    5219 non-null   float64
 4   (High, QQQ)    5219 non-null   float64
 5   (High, SPY)    5219 non-null   float64
 6   (Low, IWM)     5219 non-null   float64
 7   (Low, QQQ)     5219 non-null   float64
 8   (Low, SPY)     5219 non-null   float64
 9   (Open, IWM)    5219 non-null   float64
 10  (Open, QQQ)    5219 non-null   float64
 11  (Open, SPY)    5219 non-null   float64
 12  (Volume, IWM)  5219 non-null   float64
 13  (Volume, QQQ)  5219 non-null   float64
 14  (Volume, SPY)  5219 non-null   float64
 15  VIX            5246 non-null   float64
dtypes: float64(16)
memory usage: 696.7 KB

In [14]:
master_df.describe()

,"(Close, IWM)","(Close, QQQ)","(Close, SPY)","(High, IWM)","(High, QQQ)","(High, SPY)","(Low, IWM)","(Low, QQQ)","(Low, SPY)","(Open, IWM)","(Open, QQQ)","(Open, SPY)","(Volume, IWM)","(Volume, QQQ)","(Volume, SPY)",VIX
count,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5219.000000,5.219000e+03,5.219000e+03,5.219000e+03,5246.000000
mean,112.153879,156.157095,220.712708,113.056346,157.244320,221.902754,111.173879,154.901754,219.339940,112.174983,156.124482,220.676113,4.221027e+07,6.512213e+07,1.236422e+08,19.154785
std,56.854062,143.515252,149.983142,57.296438,144.488143,150.691733,56.405301,142.367779,149.109845,56.881346,143.486083,149.936914,2.808088e+07,5.133049e+07,9.048368e+07,8.681422
min,27.389330,22.087288,50.092175,28.384871,23.055116,51.482193,27.285793,21.646575,49.349367,27.660117,22.476146,49.974498,1.200000e+03,7.079300e+06,1.527000e+07,9.140000
25%,59.796955,42.118685,98.508072,60.464001,42.448532,99.104033,59.236593,41.841268,97.906669,59.923772,42.165009,98.533191,2.400715e+07,3.079885e+07,6.525730e+07,13.420000
50%,100.630791,97.469620,171.110413,101.406647,97.981509,171.778000,99.878947,96.754728,170.052588,100.601503,97.404646,170.963204,3.392370e+07,4.812380e+07,9.264070e+07,16.700000
75%,153.388931,252.795174,304.979965,154.156101,254.875673,306.520219,152.624063,249.613073,303.847884,153.356429,252.019276,304.857734,5.196715e+07,8.257675e+07,1.518524e+08,22.155000
max,244.839996,602.200012,666.840027,247.179993,602.869995,667.340027,243.440002,597.719971,662.169983,245.570007,602.369995,666.719971,3.551170e+08,6.167723e+08,8.710263e+08,82.690000

In [15]:
# Check for missing values col by col
missing_per_col = master_df.isna().sum().sort_values(ascending=False)
print(missing_per_col.head(30))

(Close, IWM)     27
(Close, QQQ)     27
(Close, SPY)     27
(High, IWM)      27
(High, QQQ)      27
(High, SPY)      27
(Low, IWM)       27
(Low, QQQ)       27
(Low, SPY)       27
(Open, IWM)      27
(Open, QQQ)      27
(Open, SPY)      27
(Volume, IWM)    27
(Volume, QQQ)    27
(Volume, SPY)    27
VIX               0
dtype: int64

In [16]:
# Check for missing values row by row
missing_per_day = master_df.isna().sum(axis=1)
print("Days with any missing values:", (missing_per_day > 0).sum())
print(missing_per_day[missing_per_day > 0].head())

Days with any missing values: 27
2022-05-30    15
2022-06-20    15
2022-07-04    15
2022-09-05    15
2022-11-24    15
dtype: int64

In [18]:
# drop the rows with only VIX
master_df = master_df.dropna(subset=[('Close', 'IWM')])
master_df.info()

# Save the master_df to a csv file
master_df.to_csv("master_df.csv")

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5219 entries, 2005-01-03 to 2025-09-30
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, IWM)   5219 non-null   float64
 1   (Close, QQQ)   5219 non-null   float64
 2   (Close, SPY)   5219 non-null   float64
 3   (High, IWM)    5219 non-null   float64
 4   (High, QQQ)    5219 non-null   float64
 5   (High, SPY)    5219 non-null   float64
 6   (Low, IWM)     5219 non-null   float64
 7   (Low, QQQ)     5219 non-null   float64
 8   (Low, SPY)     5219 non-null   float64
 9   (Open, IWM)    5219 non-null   float64
 10  (Open, QQQ)    5219 non-null   float64
 11  (Open, SPY)    5219 non-null   float64
 12  (Volume, IWM)  5219 non-null   float64
 13  (Volume, QQQ)  5219 non-null   float64
 14  (Volume, SPY)  5219 non-null   float64
 15  VIX            5219 non-null   float64
dtypes: float64(16)
memory usage: 693.1 KB